venv
Source/Cogs/__pycache__
Source/Kernel/Credentials/.env
Source/Cogs/Fun/__pycache__
Source/Cogs/Misc/__pycache__
Source/Cogs/Guild/__pycache__
Source/Cogs/Events/__pycache__
Source/Kernel/Views/__pycache__
Source/Cogs/Utility/__pycache__
Source/Cogs/Developer/__pycache__
Source/Cogs/Moderation/__pycache__
Source/Kernel/Utilities/__pycache__
Source/Cogs/ErrorHandler/__pycache__
Source/Cogs/Application/__pycache__
.vscode